.header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}
