# Do not ignore files named 'empty' (to preverse directory structure)
!empty

# Temp files
tmp/*

# Configuration files
Config/core.php
Config/database.php
Config/email.php

# Original and resized photos
webroot/img/m/*
Files/*

# Zipped stylesheets and javascripts
webroot/css/*.gz
webroot/js/*.gz
