html {
	background-color: #FFF;
	padding-top: 10px;
	color: #1a1a1a;
}
body {
	background-color: #FFF;
	color: #1a1a1a;
}
a,a:link,a:visited {
	color: #777777;
}
a:hover,a:active {
	color: #8b0000;
}
#site-title {
	color: #1a1a1a;
}
#site-title a,
#site-title a:link,
#site-title a:visited,
#site-title a:active {
	color: #1a1a1a;
}
#img-title a,
#img-title a:link,
#img-title a:visited {
	color: #1a1a1a;
}
#img-title a:hover,
#img-title a:active {
	color: #8b0000;
}
#img-info-comment {
	background: transparent url(../img/comment_icon.gif) no-repeat 0% 50%;
}
#img-photo {
	background: none repeat scroll 0 0 #000000;
	    border: 1px solid #333333;
	    box-shadow: 0 0 10px #333333;
	    color: #FFFFFF;
}
#notes-cmts-container {
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
}
#notes-about-container {
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
}
div.bubble blockquote {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
div.owner blockquote {
	font-style: italic;
}
div.bubble div.tip {
	background: transparent url(../img/tip.gif) no-repeat 0% 0%;
}
#img-comments li {
	border-bottom: 1px solid #cccccc;
}
#img-comments fieldset {
	border: none;
}
#img-comments .button,
#img-comments input,
#img-comments label,
#img-comments select,
#img-comments textarea {
	color: #333333;
}
#img-comments input,
#img-comments textarea,
#img-comments select {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
#img-comments .button {
	background-color: #ffffff;
	border-width: 3px;
	border-style: double;
	border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(170, 170, 170) rgb(204, 204, 204);
}
#img-date {
	color: #999999;
}
#browse-nav-container li {
	border-bottom: 1px solid #e6e6e6;
}
.border-frame {
	background: url(../img/loader-32x32.gif) no-repeat 50% 50%;
}
.thumbnail-border-frame {
	background: #f5f5f5 url(../img/loader-16x16.gif) no-repeat 50% 50%;
}
img.border-matte {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(170, 170, 170) rgb(204, 204, 204) rgb(221, 221, 221) rgb(187, 187, 187);
}
.paginator .this-page {
	border: 1px dotted #cccccc;
	color: #8b0000;
}
.paginator a,
.paginator a:link,
.paginator a:visited {
	border: 1px solid #cccccc;
}
#paging-nav-container div.results {
	color: #999999;
}
#footer {
	border-top: 1px solid #cccccc;
}

